@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@layer base {
  * {
    font-family: "Montserrat";
    @apply scroll-smooth;
  }
  body {
    background-color: #e5e5f7;
    opacity: 1;
    background-image: radial-gradient(
      #333333 1.0000000000000002px,
      #252525 1.4500000000000002px
    );
    background-size: 29px 29px;
  }

  li {
    @apply p-1 cursor-pointer;
  }
}
